body, html { 
	margin: 0;
	padding: 0;
	color: #000;
	background-image: url("https://storage.needpix.com/rsynced_images/knitting-texture-background-aqua.jpg");
	background-attachment: fixed;

	max-height: 1028px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 32px;
}

.main {
	margin: 50px;
	padding: 50px;
	padding-top: 10px;
	border-radius: 0px 50px;
	background: #ffffffa6;

	min-height: 480px;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.knitPics{
	max-height: 200px;
	margin: 10px;
}

.marginLeft{
	margin: 0 20px;
}