body, html { 
	margin: 0;
	padding: 0;
	color: #000;
	background: #320032; 
	background-image: url("https://storage.needpix.com/rsynced_images/knitting-texture-background-aqua.jpg");
	background-attachment: fixed;

	max-height: 1028px;
}

.main {
	margin: 20px;
	background: #cccccc9a;
}

.flex{
	display: flex;
}

.knitPics{
	max-width: 75px;
}